
  <div class="container">
    <h1>Login</h1>
    <p class="lead">Welcome back, your passwords are a click away.</p>
    <br>
    <form role="form" action="/login" method="post" style="max-width: 300px;">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      &nbsp;
      <a href="/">
        <button type="button" class="btn btn-primary">Cancel</button>
      </a>
    </form>
  </div>
